In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

In [17]:
ml2 = pd.read_csv("ML_2_plus.csv")
# name = ml2['name']
# rssi = ml2['RSSI']
rssi = ml2[['name','RSSI']]

In [18]:
rssi

      name  RSSI
0        4   -73
1        2   -50
2        3   -67
3        1   -84
4        2   -54
...    ...   ...
998      3   -62
999      8   -78
1000     3   -70
1001     4   -73
1002     6   -76

[1003 rows x 2 columns]

In [19]:
rssi['name'][0]

4

In [89]:
# 순서대로 5개씩 묶은 경우, 가장 가까운 MAC 주소가 딕셔너리에 있고, 최대 rssi값과 같으면 count 증가

beacon_list = ['82:cb','86:2f','84:4b','82:62','00:00','81:9d','00:00','86:03']
n=1
average = 0
for mac in beacon_list:
    
    df = pd.read_csv("ML_4F_"+str(n)+".csv")
    rssi = df[['MACaddress','RSSI']]
        
    dict = {}
    count = 0
    
    for i in range(0,len(rssi)-5,5):
        dict[rssi['MACaddress'][i]] = rssi['RSSI'][i]
        dict[rssi['MACaddress'][i+1]] = rssi['RSSI'][i+1]
        dict[rssi['MACaddress'][i+2]] = rssi['RSSI'][i+2]
        dict[rssi['MACaddress'][i+3]] = rssi['RSSI'][i+3]
        dict[rssi['MACaddress'][i+4]] = rssi['RSSI'][i+4]

        if mac in dict and max(dict.values()) == dict[mac]:
            count += 1
        
        dict = {}
        
    print("ML_4F_"+str(n)+":",count,"정확도:",count/200)
    average += count
    n += 1
    
print("평균:",average/200/6)

ML_4F_1: 139 정확도: 0.695
ML_4F_2: 171 정확도: 0.855
ML_4F_3: 134 정확도: 0.67
ML_4F_4: 125 정확도: 0.625
ML_4F_5: 0 정확도: 0.0
ML_4F_6: 125 정확도: 0.625
ML_4F_7: 0 정확도: 0.0
ML_4F_8: 149 정확도: 0.745
평균: 0.7025